extends layout

block content
  h1 Coding in Crayon
  br
  .container
    .row
      .col-xs-12.col-md-8.col-md-offset-2
        h2 #{counter} Posts So Far!
          small(style="vertical-align: text-top; position: relative; top: 8px; left: 15px")
            a.btn.btn-primary(href="/newpost") Make A New One!
        .table-responsive
          table.table
            thead
              tr
                th #
                th Post Title
                th Options
            tbody
              each post, i in postlist
                tr
                  td #{i+1}
                  td
                    h3.tableheading
                      a(href="/post/#{post.slug}")= post.posttitle
                  td
                    form(method="POST", action="/deletepost/#{post._id}",id="DelForm")
                      input(type="hidden" name="_method" value="DELETE")
                    span.btn-group
                      button(type="submit", class="btn btn-warning", form="DelForm") Delete
                      a(href="/post/#{post._id}/edit", class="btn btn-info") Edit
